{
    "presets":[
        "@babel/preset-env"
        // ["vue", {
        //     "eventModifiers": false
        // }]
    ],
    //"plugins": ["@babel/plugin-syntax-dynamic-import", "dynamic-import-node",]
    "plugins": [ "@babel/plugin-syntax-dynamic-import"]

}