---
layout: mobile.hbs
title: 团内排行赛
keywords: 团内排行赛
description: 团内排行赛
statEA: h5act
statEB: index
cssFile:
- css/index.css
jsFile:
- js/index.js
cdnURLs:
- https:///static/js/lib/jsapi-1.7.0.js
- https://static/js/lib/zepto-1.2.0-all-min.js
---

<div id="app">

</div>